node_modules
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
docs
*debug.log*
.vscode
yarn.lock
.DS_Store
.jhipster
./generators/client/templates/angular/src/main/webapp/app/shared/constants/map.constants.ts
